body{
	margin: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
#collapsable-nav{
	width: 100%;
	background-color: #C1F2DC;
}
#nav-list{
	font-size: 2em;
}
.navbar{
	background-color: #C1F2DC;
}



#main-content{
	box-sizing: border-box;
}
#heading{
	font-weight: bold;
	font-size: 5em;
}
#information{
	background-color: #FDAA71;
}
#information1{
	background-color: #F5FD71;
}
#information2{
	background-color: #71FD84;
}
.infheading{
	font-size: 3em;
}