* {
  box-sizing: border-box;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
#collapsable-nav{
	background-color: #C1F2DC;
}
#nav-list {/*Drop Down Menu*/
	margin: 0 -15px 0;
	padding: 0;
	background-color: #D5F5DC;
}
.navbar{
	background-color: #C1F2DC;
}
.sep{
	border: 1px solid white;
}



#main-content{
	box-sizing: border-box;
}
#heading{
	font-weight: bold;
	font-size: 5em;
}
#information{
	background-color: #FDAA71;
}
#information1{
	background-color: #F5FD71;
}
#information2{
	background-color: #71FD84;
}
.infheading{
	font-size: 3em;
}